.tacos {
    margin-left: 15%;
    /* display: inline; */
}

.T1 {
	float: left;
	/* margin-left: 5%; */
	width: 42.5%;
	/* text-align: center; */
}

.T2 {
	float: right;
	/* margin-right: 5%; */
	width: 42.5%;
	/* text-align: center; */
}

ul.leaders {
	padding: 0;
}

ul.leaders li {
	display: table;
}

ul.leaders li span {
	display: table-cell;
}

ul.leaders li span:first-child {
  position: relative;
	overflow: hidden;            /* Don't go underneath the price */
}

ul.leaders li span:first-child:after { /* dashes */
	content: "";
	position: absolute;
	bottom: 0.5em;       /* Set as you want */       
	margin-left: 0.5em;       /* Keep same for the next span's left padding */
	width: 100%;
	border-bottom: 1px dashed #000;
}

ul.leaders li span + span {
	text-align: right;
	width: 1%;          /* Trick it */
	vertical-align: bottom;      /* Keep Price text bottom-aligned */
	padding-left: 0.5em;
}

p:last-child {
    margin-bottom: 20px;
    margin-top: 2px;
}

.description {
    font-size: 12px;
}

.picTacos {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
    float: right;
    margin-right: 16%;
	width: 42.5%;

	display: grid;
	background-size: cover 
}

