.home {
    margin-left: 15%;
    /* position: fixed; */
}

/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-column-gap: 50px;
    grid-auto-rows: 1fr;

  } */
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 265%;
    text-align: center;
    justify-content: space-between;
    height: 80vh;
    padding: 60px;
    margin-left: 43px;

    margin: 0 auto;
    padding: 15px;
    /* grid-template-columns: 200px 1fr 200px; */
    grid-template-rows: auto 1fr auto;
    height: 80vh;
    width: 20vw;;

  }

  .flexbox {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100vh;  

    /* margin: 0 auto;
    padding: 15px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 100vh; */
  }
  
  /* .flexbox .board {
    display: flex;
    flex-direction: column;
  
    width: 100%;
    max-width: 300px;
  
    background-color: #313131;
  
    padding: 15px;
  }
  
  .flexbox .board .card {
    padding: 15px 25px;
    background-color: #f3f3f3;
  
    cursor: pointer;
    margin-bottom: 15px;
  } */
  
