footer {
    /* margin-top: 70%; */
    margin-left: 123px;
    /* position: sticky; */
    /* position: absolute; */
    bottom: 5px;
    height: 20px;
    padding-top: 20px;
    /* width: 100%; */
}
